<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/style.css">

</head>
<body>
    <div th:fragment="commentFragment(comment)">
        <div class="comment" th:attr="data-comment-id=${comment.id}">
            <p><strong th:text="${comment.author}"></strong>
                <span th:text="${comment.createdAt}"></span>
                <span style="cursor: pointer;" class="badge rounded-pill text-bg-secondary comment-form-btn">대댓글</span>
                <!--삭제버튼-->
                <button type="button"
                        th:if="${#authentication.principal != 'anonymousUser'
                                    and comment.author == #authentication.principal.attributes['kakao_account']['email']
                                    and comment.enabled == true}"
                        class="btn btn-secondary btn-sm comment-delete-btn">삭제</button>
            </p>
            <pre th:text="${comment.content}"></pre>
            <div class="childComment">
                <div th:if="${#lists.size(comment.childComments) > 0}">
                    <div th:each="childComment : ${comment.childComments}">
                        <div th:replace="~{fragments/comments :: commentFragment (comment=${childComment})}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>