<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>D-world 웹 커뮤니티</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js"></script>
</head>
<body>
<div th:fragment="header">
    <div class="p-4 mb-5 mt-5 text-center</> bg-light">
        <h1 class="mb-3">D-world</h1>
        <a href="/articles">D-world에 오신 것을 환영합니다.</a>
        <div class="d-flex justify-content-between align-items-center mt-3">
            <ul class="nav category-nav">
                <li class="nav-item"><a href="/articles?category=free" class="nav-link">자유</a></li>
                <li class="nav-item"><a href="/articles?category=humor" class="nav-link">유머</a></li>
                <li class="nav-item"><a href="/articles?category=game" class="nav-link">게임</a></li>
            </ul>
            <form action="/articles" method="GET">
                <label>
                    <input type="text" name="query" placeholder="제목 or 글 내용 검색" required>
                </label>
                <button type="submit">검색</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>