<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>D-world 웹 커뮤니티</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js"></script>
</head>
<body>
<div class="container">
    <div class="p-4 mb-5 mt-5 text-center</> bg-light">
        <h1 class="mb-3">D-world</h1>
        <a href="/articles">D-world에 오신 것을 환영합니다.</a>
        <div class="d-flex justify-content-between align-items-center mt-3">
            <ul class="nav category-nav">
                <li class="nav-item"><a href="/articles?category=free" class="nav-link">자유</a></li>
                <li class="nav-item"><a href="/articles?category=humor" class="nav-link">유머</a></li>
                <li class="nav-item"><a href="/articles?category=game" class="nav-link">게임</a></li>
            </ul>
            <form action="/articles" method="GET">
                <label>
                    <input type="text" name="query" placeholder="제목 or 글 내용 검색" required>
                </label>
                <button type="submit">검색</button>
            </form>
        </div>
    </div>
    <div id="data-container" class="row-6">
        <div th:each="item : ${articlePage.content}" class="d-flex justify-content-start align-items-center mb-2">
            <a th:text="${item.title}" th:href="@{/articles/{id}(id=${item.id})}" class="text-decoration-none">글 제목</a>
        </div>
    </div>
    <button type="button" id="create-btn"
            onclick="location.href='/new-article'"
            class="btn btn-secondary btn-sm mb-3">글 쓰기</button>
    <nav aria-label="Index Page navigation" th:if="${articlePage.totalPages > 0}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${articlePage.hasPrevious()} ? '' : 'disabled'">
                <a class="page-link" th:href="@{/articles(page=1)}" aria-label="First">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:classappend="${articlePage.hasPrevious()} ? '' : 'disabled'">
                <a class="page-link" th:href="@{/articles(page=${currentPage - 1})}" aria-label="Previous">
                    <span aria-hidden="true">&lsaquo;</span>
                </a>
            </li>

            <li class="page-item" th:each="i : ${#numbers.sequence((currentPage > 4 ? currentPage - 4 : 1), (currentPage + 4 > articlePage.totalPages ? articlePage.totalPages : currentPage + 4))}"
                th:classappend="${i == currentPage} ? 'active'">
                <a class="page-link" th:href="@{/articles(page=${i})}" th:text="${i}">1</a>
            </li>

            <li class="page-item" th:classappend="${articlePage.hasNext()} ? '' : 'disabled'">
                <a class="page-link" th:href="@{/articles(page=${currentPage + 1})}" aria-label="Next">
                    <span aria-hidden="true">&rsaquo;</span>
                </a>
            </li>
            <li class="page-item" th:classappend="${articlePage.hasNext()} ? '' : 'disabled'">
                <a class="page-link" th:href="@{/articles(page=${articlePage.totalPages})}" aria-label="Last">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<script src="/js/article.js"></script>
</body>