<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>dworld 로그인</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container mt-5">
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="d-flex flex-column">
            <h1 class="my-5">D-world 로그인</h1>
            <a href="/oauth2/authorization/kakao" class="btn mb-2">
                <img src="/images/kakao_login_medium_wide.png" alt="Kakao Login" class="img-fluid">
            </a>

            <button class="btn btn-primary mb-2">Button 2</button>
            <button class="btn btn-primary mb-2">Button 3</button>
        </div>
    </div>
</div>

</body>
</html>