<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>D-world 웹 커뮤니티</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container mt-5">
    <div th:replace="fragments/header :: header"></div>

    <div class="row">
        <div class="col-lg-8">
            <article>
                <!-- 아이디 정보 저장-->
                <input type="hidden" id="article-id" th:value="${article.id}">
                <input type="hidden" id="article-author" value="author">
                <!--<input type="hidden" id="article-author" th:value="${#authentication.principal.username}">-->
                <input type="text" id="boardType" th:value="${boardType}" readonly>
                <header class="mb-4">
                    <input type="text" class="form-control" placeholder="제목" id="title" th:value="${article.title}">
                </header>
                <section class="mb-5">
                    <textarea class="form-control h-25" rows="10" placeholder="내용" id="content"
                              th:text="${article.content}"></textarea>
                </section>
                <button th:if="${article.id} != null" type="button" id="modify-btn" class="btn btn-primary btn-sm">수정
                </button>
                <button th:if="${article.id} == null" type="button" id="create-btn" class="btn btn-primary btn-sm">등록
                </button>
            </article>
        </div>
    </div>
</div>

<script src="/js/article.js"></script>
</body>